@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$lightColor: #ffffff;
$darkColor: #131313;
$borderColor: #b5b3b3;
$grayColor: #e5e5e5;
$dangerColor: #ff3333;
$successColor: #34c724;

html {
  scroll-behavior: smooth;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background-color: $lightColor;
  color: $darkColor;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

input,
textarea {
  resize: none;
  outline: none;
}

li {
  list-style: none;
}

.logo {
  font-weight: 700;
  text-transform: capitalize;
  color: $darkColor;
  font-size: 1.3rem;
}

.show {
  opacity: 1 !important;
  scale: 1 !important;
}

.rotate {
  transform: rotate(45deg);
}

.primary-btn {
  background-color: $darkColor;
  width: 3rem;
  height: 3rem;
  color: $lightColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.1s;
  .fi {
    font-size: 1.3rem;
    margin-top: 0.3rem;
    transition: 0.1s;
  }
  &:hover {
    opacity: 0.8;
  }
}

.tag {
  color: #b5b3b3;
}

.menu {
  position: absolute;
  right: 0px;
  background-color: $grayColor;
  padding: 1rem;
  border-radius: 1rem;
  scale: 0;
  transition: 0.1s;
  z-index: 10;
  li {
    cursor: pointer;
    padding: 1rem 4rem 1rem 0.5rem;
    border-bottom: 1px solid $borderColor;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .fi,
    span {
      color: $borderColor;
      font-weight: 500;
    }
    &:hover {
      .fi,
      span {
        color: $darkColor;
      }
    }
    .fi {
      margin-top: 0.1rem;
    }
    &:last-child {
      border-bottom: none;
      .fi,
      span {
        color: $dangerColor !important;
      }
    }
  }
}

.container {
  display: flex;
  width: 100%;
  aside {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-container {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .primary-btn {
      margin-top: 2rem;
    }
    .colors {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      gap: 1rem;
      .color {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        cursor: pointer;
        scale: 0;

        &:hover {
          scale: 1.1;
        }
      }
      .color1 {
        transition: 0.1s;
      }
      .color2 {
        transition: 0.3s;
      }
      .color3 {
        transition: 0.5s;
      }
      .color4 {
        transition: 0.7s;
      }
      .color5 {
        transition: 0.9s;
      }
      .color6 {
        transition: 1.1s;
      }
    }
  }
  .inner-container {
    width: 100%;
    padding: 0rem 1rem;
    header {
      height: 5rem;
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      .input-box {
        width: 100%;
        background-color: $grayColor;
        height: 3rem;
        border-radius: 5rem;
        position: relative;
        .fi-br-search {
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 1rem;
          left: 1rem;
          color: $borderColor;
        }
        input {
          background-color: transparent;
          width: 100%;
          font-size: 0.9rem;
          height: 100%;
          font-weight: 500;
          color: $darkColor;
          border: none;
          padding: 0rem 2.5rem;
        }
      }
      #weather {
        background-color: $grayColor;
        height: 3rem;
        padding: 1rem;
        border-radius: 20rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        user-select: none;
        text-wrap: nowrap;
        cursor: pointer;
        img {
          width: 2rem;
          object-fit: contain;
        }
        p {
          font-weight: 700;
          text-wrap: nowrap;
        }
      }
      .profile {
        position: relative;
        .profile-img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
        }
      }
    }
    main {
      margin-top: 2rem;
      h1 {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .notes {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem;
      }
      .note {
        height: 20rem;
        border-radius: 1rem;
        padding: 2rem 1.5rem 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: 0.2s;
        .pinIcon {
          position: absolute;
          right: 1rem;
          top: 1rem;
          transition: 0.2s;
          user-select: none;
        }
        textarea {
          background: transparent;
          border: none;
          width: 100%;
          font-size: 1rem;
          font-weight: 500;
          height: 100%;
        }
        .date-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-weight: 600;
            opacity: 0.5;
            font-size: 0.9rem;
          }
          .note-btn {
            position: relative;
            .primary-btn {
              width: 3rem;
              height: 3rem;
              scale: 0.8;
              &:hover {
                opacity: 1;
              }
            }
            #noteMenu {
              padding: 0.5rem 1rem;
              li {
                padding: 1rem 2rem 1rem 0.5rem;
                &:first-child {
                  color: $successColor;
                  color: #131313;
                }
                .fi,
                span {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

#loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #fff;
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      text-transform: capitalize;
    }
    #subtitle {
      color: $darkColor;
      font-weight: 500;
      opacity: 0.8;
    }
    #error-notification {
      border: 1px solid $dangerColor;
      border-radius: 2rem;
      padding: 1rem 2rem;
      margin-top: 1rem;
      background-color: rgba(255, 0, 0, 0.2);
      display: none;
      #error {
        color: $dangerColor;
        text-align: left;
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      margin-top: 1rem;
      input {
        padding: 1rem 1.5rem;
        border: 0.12rem solid #ddd;
        border-radius: 25px;
        outline: none;
        font-size: 0.95rem;
        transition: border 0.3s;
        &:focus {
          border-color: $darkColor;
        }
      }
      button {
        padding: 1rem;
        border: none;
        border-radius: 25px;
        background: $darkColor;
        color: $lightColor;
        font-size: 1rem;
        font-weight: 500;
        transition: background 0.3s;
        cursor: pointer;
        &:hover {
          background: #333;
        }
      }
    }
  }
}
